@font-face {
    font-family: 'Ranua Trials';
    src: url('RanuaTrials-Bold.woff2') format('woff2'),
        url('RanuaTrials-Bold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ranua Trials';
    src: url('RanuaTrials-Regular.woff2') format('woff2'),
        url('RanuaTrials-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ranua Trials';
    src: url('RanuaTrials-Light.woff2') format('woff2'),
        url('RanuaTrials-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ranua Trials';
    src: url('RanuaTrials-Medium.woff2') format('woff2'),
        url('RanuaTrials-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Satoshi';
    src: url('Satoshi-Medium.woff2') format('woff2'),
        url('Satoshi-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

