@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import 'locomotive.css';

#app {
  font-family: 'Ranua Trials', sans-serif;
  font-size: calc(var(--index) * 1.15);
  color: #fff;
  font-weight: normal;
}
@media (min-width: 768px) {
  #app {
    font-size: calc(var(--index) * 0.6);
  }
}

:root {
  --index: calc(1vw + 1vh);
  --side-small: 26;
  --side-big: 51;
  --transition: 0.75s cubic-bezier(0.075, 0.5, 0, 1);
  --title-hero: calc(var(--index) * 2);
  --container-width: calc(var(--index) * var(--side-big));
  --side-img: 21;
  --text-gradient: linear-gradient(135deg, #c8bdff, #8121dc, #b342de, #ff75e1, #ffddf8);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
  font-weight: normal;
  -webkit-tap-highlight-color: transparent;
}
